<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Results Page</title>
  <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
  <p>The weight of your parcel is <%= weight %> lbs.</p>
  <p>The type of parcel is <%= type %>.</p>
  <% if (type == "First-Class Package Service—Retail") { %>
    <p>
   <%= `The zone is ${zone}.`%>
    </p>
  <% } %>
  <p>The final price is $<%= results %>.</p>
</body>
</html>